@import '../scss/variables';

.left-menu {
  min-height: 100vh;
  min-width: $musa-menu-left-width;
  max-width: $musa-menu-left-width;
  flex: $musa-menu-left-width;
  padding: 20px;
  text-align: center;
}
