{
  "extends": "react-app",
  "rules": {
    "semi": "off",
    "no-console": [
      "warn", { allow: ["error"] }
    ],
    "no-unused-vars": ["error"],
    "no-restricted-imports": [
      "error",
      {
        "paths": [{
          "name": "styled-components",
          "message": "Please import from styled-components/macro."
        }],
        "patterns": [
          "!styled-components/macro"
        ]
      }
    ]
  }
}
