@import '../scss/mixins';
@import '../scss/variables';

.toolbar {
  display: flex;
  justify-content: flex-start;
  padding: 8px 12px;
  width: 100%;
  height: 30px;
  z-index: 10;

  @include toolbarButton;
}
