@import '../scss/colors';

audio {
  display: none;
}

.player {
  &-container {
    position: fixed;
    width: 75%;
    bottom: 0;
    right: 0;
    height: 5vmin;
    color: $musa-white;
    font-size: .8rem;
  }

  &-seek {
    width: 50%;
  }

  &-play-pause {
    font-size: 1rem;
    color: $musa-white;
    background-color: $musa-bg-color;
    cursor: pointer;
    border: 0;
  }

  &-time-display {
    padding-left: 12px;
  }

  &-played {
    min-width: 32px;
    display: inline-block;
    text-align: left;
  }
}
