@import '../scss/colors';

audio {
  display: none;
}

.player {
  &-container {
    position: fixed;
    width: 70%;
    bottom: 0;
    right: 0;
    height: 5vmin;
  }

  &-seek {
    width: 50%;
  }

  &-play-pause {
    font-size: 1rem;
    color: $musa-white;
    background-color: $musa-bg-color;
    cursor: pointer;
    border: 0;
  }
}
