@import '../scss/colors';
@import '../scss/variables';

@mixin bottomBorder {
  cursor: pointer;
  border: 2px solid transparent;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}

.album {
  display: flex;
  flex: 100%;
  margin: 0 10px 60px 0;

  .album-full-add {
    display: flex;
    flex: 60%;
    @include bottomBorder;

    > img {
      min-width: 200px;
      max-width: 200px;
      min-height: 200px;
      max-height: 200px;
      background-color: $musa-black;
    }

    .album-info {
      padding: 4px 20px;

      > p {
        margin: 0 0 10px;
      }

      > p:not(:nth-child(2)) {
        font-size: $musa-font-size-xs;
      }

      > p:nth-child(2) {
        font-weight: bold;
      }
    }

    &:hover {
      border-color: var(--color-primary-highlight);
    }
  }

  &-songs {
    flex: 40%;
    font-size: $musa-font-size-sm;
  }

  &-song {
    display: flex;
    flex-direction: row;
    @include bottomBorder;

    > span {
      margin-bottom: 4px;
    }

    > span:nth-child(1) {
      flex: 12%;
      font-size: $musa-font-size-xs;
    }

    > span:nth-child(2) {
      flex: 78%;
      padding-right: 4px;
    }

    > span:nth-child(3) {
      flex: 10%;
      font-size: $musa-font-size-xs;
      text-align: right;
    }

    &:hover {
      border-color: var(--color-primary-highlight);
    }
  }
}
