@import '../scss/variables';

.page {
  h1 { margin-bottom: 40px; }

  position: fixed;
  z-index: 2;
  background-color: var(--color-bg);
  height: 100%;
  width: 100%;
  margin: $musa-height-toolbar 0 0 -12px;
  overflow-y: auto;

  &-wrapper {
    padding: 40px;
    max-width: 730px;
    min-width: 344px;
    margin: 0 auto 50px;
    max-height: 95vh;
  }

  @media screen and (max-width: $musa-breakpoint-xs) {
    padding: 0 8px;
  }
}
