.library-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
  padding-left: 12px;
  font-size: .9rem;

  &-folder {
    cursor: pointer;
  }

  li {
    padding: 2px 12px;
  }

  li:hover {
    background-color: var(--color-secondary-highlight);
    color: var(--color-typography-secondary);
  }

  .caret-right {
    padding-right: 6px;
  }
}

.root {
  padding-left: 0;
}
