@import '../scss/mixins';
@import '../scss/variables';

$label-font-size: 40px;

.library {
  text-align: left;
  border: 0 solid var(--color-secondary-highlight);
  border-left-width: 4px;
  border-right-width: 1px;
  background-color: var(--color-bg);
  box-shadow: 25px 10px 31px -17px rgba(10, 10, 10, .75);
  position: absolute;
  min-width: 400px;
  z-index: 1;
  height: 100vh;
  margin: $musa-height-toolbar 0 0 -12px;

  &-label {
    text-align: right;
    padding: 20px;

    span {
      color: var(--color-typography-primary);
      background-color: var(--color-primary-highlight);
      padding: 5px 10px;
      font-size: $label-font-size;
      border-radius: 3px;
    }
  }

  &-root {
    padding-left: 0;
  }

  &-scan-progress {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
  }

  @include listOverflow;
}
