.music-library-setting {
  &-path {
    display: flex;
    margin-bottom: 10px;

    input {
      flex: 90%;
    }

    button {
      flex: 10%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
