@import '../scss/colors';

.player {
  &-dynamic-range {
    font-weight: bold;
    border-style: solid;
    border-color: var(--color-dr-level);
    border-width: 0;
    border-bottom-width: 2px;

    &-wrapper {
      color: $musa-white;
      background-color: $musa-black;
      margin-left: 12px;
      padding: 0 2px 7px;
    }
  }
}

.hidden {
  visibility: hidden;
}
