@import '../scss/colors';
@import '../scss/variables';

.player-seek {
  margin-right: 16px;

  input {
    padding: 0;
  }

  input[type='range'] {
    overflow: hidden;
    appearance: none;
    background-color: $musa-slider-track;
    cursor: pointer;
  }

  input[type='range']:focus {
    outline: none;
  }

  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    appearance: none;
    margin-top: -1px;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 4px;
    appearance: none;
    box-shadow: -10000px 0 0 10000px var(--color-slider);
  }
}
