@import '../scss/mixins';
@import '../scss/variables';

.playlist {
  padding: 0 8px 0 0;
  margin: 0;
  font-size: .85rem;
  border: 0 solid var(--color-primary-highlight);
  border-left-width: 1px;
  border-right-width: 3px;
  background-color: var(--color-bg);
  box-shadow: -22px 10px 31px -16px rgba(10, 10, 10, .75);
  min-height: 94vh;

  &-header {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  @include tableCell;

  @media screen and (max-width: $musa-breakpoint-lg) {
    border-left-width: 3px;
    max-height: none;
    height: auto;
  }
}
