@import '../scss/variables';

.settings {
  &-wrapper {
    h1 { margin-bottom: 40px; }

    padding: 0 16px;
    max-width: 800px;
    min-width: 344px;
    margin: auto;

    @media screen and (max-width: $musa-breakpoint-xs) {
      padding: 0 8px;
    }
  }

  &-block {
    margin-bottom: 40px;
  }
}
