.theme {
  &-block {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 80px;
    height: 80px;
    margin: 0 10px 10px 0;

    span {
      display: inline-block;
      width: 30px;
      height: 30px;
    }
  }
}
