@import '../scss/colors';

.library-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
  padding-left: 12px;
  font-size: .85rem;

  &-folder {
    cursor: pointer;
  }

  li {
    padding: 2px 12px;
  }

  li:hover {
    background-color: $musa-highlight;
    color: $musa-highlight-text;
  }

  .caret-right {
    padding-right: 6px;
  }
}
