@import '../scss/mixins';
@import '../scss/variables';

.library {
  text-align: left;
  border: 0 solid var(--color-secondary-highlight);
  border-left-width: 4px;
  border-right-width: 1px;
  background-color: var(--color-bg);
  box-shadow: 25px 10px 31px -17px rgba(10, 10, 10, .75);
  position: absolute;
  min-width: 400px;
  z-index: 10;
  height: 100vh;

  &-root {
    padding-left: 0;
  }

  @include listOverflow;
}
