@import '../scss/variables';

$margin-top: 12px;
$margin-bottom: 20px;

.cover {
  display: block;
  height: auto;
  width: 100%;
  margin: 12px auto 20px;
  max-height: 800px + $margin-top + $margin-bottom;
  max-width: 800px;

  &-wrapper {
    min-height: 600px + $margin-top + $margin-bottom;
    min-width: 600px;
    padding-bottom: 54%;
    overflow: hidden;

    @media screen and (max-width: $musa-breakpoint-lg) {
      padding-bottom: 0;
    }
  }

  @media screen and (max-width: $musa-breakpoint-lg) {
    max-height: 600px + $margin-top + $margin-bottom;
    max-width: 600px;
  }
}
