@import './scss/colors';
@import './scss/variables';

.app {
  text-align: left;
  background-color: $musa-bg-color;
  min-height: 100vmin;
  max-height: 100vmin;
  overflow: hidden;
  color: $musa-white;
  user-select: none;

  &-wrapper {
    display: flex;
  }

  &-left {
    flex: 22.5%;
    height: 100vmax;
  }

  &-center {
    flex: 40%;
    height: 100vmax;
  }

  &-right {
    flex: 37.5%;
  }

  button {
    color: $musa-white;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
  }
}
