@import './scss/variables';
@import './scss/mixins';

.app {
  text-align: left;
  background-color: var(--color-bg);
  min-height: 100vh;
  max-height: 100vh;
  min-width: 600px;
  overflow: hidden;
  color: var(--color-typography);
  user-select: none;

  &-wrapper {
    display: flex;
    flex-direction: row;
  }

  &-left {
    // flex: 22.5%;
  }

  &-center {
    flex: 40%;
    padding: 0;
    height: 100vh;
  }

  &-right {
    flex: 60%;
  }

  button {
    color: inherit;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  @media screen and (max-width: $musa-breakpoint-lg) {
    &-wrapper {
      display: flex;
      flex-direction: column;
    }

    &-left {
      flex: 0%;
    }

    &-center {
      flex: 100%;
      padding: 0;
      @include listOverflow;
    }

    &-right {
      flex: 100%;
    }
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}
