:root {
  --font-size-md: 18px;
  --font-size-sm: 16px;
  --font-size-xs: 14px;
  --font-size-xxs: 12px;
  --toolbar-height: 60px;
  --color-white: #fbfbfb;
  --color-black: #000;
  --color-slider-track: #424a56;
}

html {
  overflow: hidden;
}

a {
  color: var(--color-typography);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  color: inherit;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
}

input {
  padding: 10px 30px;
  font-size: var(--font-size-md);
  box-sizing: border-box;
}
