@import './scss/colors';
@import './scss/variables';

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Tahoma, sans-serif;
  font-size: $musa-font-size-md;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

button {
  color: inherit;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
}

input {
  padding: 10px 30px;
  font-size: $musa-font-size-md;
}

.btn {
  width: 100%;
  font-size: 1rem;
  padding: 12px;
  border-radius: 3px;
  font-weight: bold;

  &-primary {
    background-color: var(--color-primary-highlight);
    color: var(--color-typography-primary);
  }

  &-secondary {
    background-color: var(--color-secondary-highlight);
    color: var(--color-typography-secondary);
  }
}

.btn-small {
  width: 100%;
  font-size: .9rem;
  padding: 10px;
  border-radius: 3px;
}
