:root {
  --font-size-md: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --toolbar-height: 30px;
  --color-white: #fbfbfb;
  --color-black: #000;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

button {
  color: inherit;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
}

input {
  padding: 10px 30px;
  font-size: var(--font-size-md);
  box-sizing: border-box;
}
