:root {
  --font-size-md: 18px;
  --font-size-sm: 16px;
  --font-size-xs: 14px;
  --font-size-xxs: 12px;
  --toolbar-height: 80px;
  --titlebar-height: 36px;
  --library-width: 505px; /* 5px extra for borders */
  --border-radius: 7px;
  --color-white: #fbfbfb;
  --color-black: #000;
  --color-slider-track: #424a56;
}

html {
  overflow: hidden;
  color: var(--color-white);
  background: rgb(33, 37, 43);
}

a {
  color: var(--color-typography);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  color: inherit;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  font-family: Verdana, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
}

select {
  font-family: Verdana, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
}

button:disabled {
  opacity: 0.666;
  cursor: default;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 20px 0;
}

h5,
h6 {
  margin: 0 0 10px 0;
}

input {
  padding: 10px 30px;
  font-size: var(--font-size-md);
}

textarea {
  padding: 10px 30px;
  font-size: var(--font-size-md);
  font-family: Arial, sans-serif;
}

table,
th,
td {
  border: 0;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  position: relative;
  cursor: pointer;
  margin: 4px;
}

input[type="checkbox"]:checked {
  background-color: var(--color-primary-highlight);
  border-color: var(--color-primary-highlight);
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  display: block;
  left: 9px;
  top: 4px;
  width: 8px;
  height: 15px;
  border: solid var(--color-typography-primary);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
