@import './scss/colors';
@import './scss/variables';

body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: $musa-font-size-md;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

button {
  color: inherit;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.btn {
  width: 100%;
  font-size: 1rem;
  padding: 12px;
  border-radius: 3px;
  font-weight: bold;

  &-primary {
    background-color: $musa-highlight;

    &:hover {
      background-color: lighten($musa-highlight, 10%);
    }

    &:focus {
      outline: 1px solid lighten($musa-highlight, 30%);
    }
  }
}
