
$musa-white: #fbfbfb;
$musa-black: #000;

$musa-bg-color: #21252b;
$musa-bg-library-color: #322834;

$musa-highlight: #753597;
$musa-highlight-secondary: #21737e;
$musa-highlight-text: #fff;

$musa-shadow-color: #222;

$musa-slider-track: #424a56;
