@mixin tableCell {
  .cell {
    padding: 2px 4px;

    &-xxs {
      flex: 0 0 2.5%;
    }

    &-xs {
      flex: 0 0 5%;
    }

    &-sm {
      flex: 0 1 25%;
    }

    &-md {
      flex: 0 0 35%;
    }
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }
}

@mixin toolbarButton {
  button {
    font-size: 1.4rem;
    margin-right: 12px;
  }
}

@mixin listOverflow {
  max-height: 94vh;
  overflow-y: scroll;

  @media (max-height: 800px) {
    max-height: 92vh;
  }

  @media (max-height: 600px) {
    max-height: 90vh;
  }
}
