@mixin tableCell {
  .cell {
    padding: 2px 4px;
    font-size: .85rem;

    &-xxs {
      flex: 0 0 2.5%;
    }

    &-xs {
      flex: 0 0 5%;
    }

    &-sm {
      flex: 0 1 25%;
    }

    &-md {
      flex: 0 0 35%;
    }
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }
}
