@import '../scss/mixins';

.playlist {
  padding: 0 8px;
  margin: 0;
  max-height: 94vh;
  overflow-y: scroll;
  font-size: .85rem;

  &-header {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  @include listOverflow;
  @include tableCell;
}
