.playlist-item {
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: var(--color-primary-highlight);
    color: var(--color-typography-primary);
  }
}

.active,
.selected {
  background-color: var(--color-primary-highlight);
  color: var(--color-typography-primary);
}
