@import '../scss/colors';

.playlist-item {
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: $musa-highlight-secondary;
    color: $musa-highlight-text;
  }
}

.active {
  background-color: $musa-highlight-secondary;
}
