@import '../scss/colors';
@import '../scss/mixins';

.playlist {
  flex: 75%;
  color: $musa-white;
  background-color: $musa-bg-color;
  list-style-type: none;
  user-select: none;
  padding: 0;
  margin: 0;
  overflow: scroll;
  height: 95vmin;
  font-size: .9rem;

  &-header {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  @include tableCell;
}
