.playlist-item {
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: var(--color-secondary-highlight);
  }
}

.active {
  background-color: var(--color-secondary-highlight);
}
