@import '../scss/mixins';
@import '../scss/colors';
@import '../scss/variables';

.playlist {
  padding: 0 8px 0 0;
  margin: 0;
  font-size: .85rem;
  border: 0 solid lighten($musa-highlight-secondary, 10%);
  border-left-width: 1px;
  border-right-width: 3px;
  background-color: $musa-bg-color;
  box-shadow: -22px 10px 31px -16px rgba(10, 10, 10, .75);
  height: 100vh;

  &-header {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  @include listOverflow;
  @include tableCell;

  @media screen and (max-width: $musa-breakpoint-lg) {
    overflow: hidden;
    border-left-width: 3px;
    max-height: none;
  }
}
